<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/static/img/logo.svg" type="image/svg+xml">
    <meta name="referrer" content="no-referrer">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/third_party/roboto.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/app.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/third_party/semantic.min.css">

    <title>{% block title %}{% endblock %} - GitArena</title>

    {% block head %}{% endblock %}
</head>

<body>

<noscript>
    <p style="background-color: red; color: white; text-align: center; padding-top: 5px; padding-bottom: 5px;">
        <b>JavaScript is currently disabled in your browser.</b>
        Some functionality may not be available
    </p>
</noscript>

{% block header %}
<header class="background ui fluid container">
    <nav class="navigation">
        <div class="ui content container">
            <span class="brand">
                <a href="/" class="link">GitArena</a>
                <span class="pill" style="letter-spacing: normal;">Preview</span>
            </span>
            <span class="links">
                {% block links %}
                    <a href="/explore" class="link">
                        explore
                    </a>
                    <a href="/" class="link">
                        merge requests
                    </a>
                    <a href="/" class="link">
                        releases
                    </a>
                {% endblock %}

                {% if user is undefined %}
                    <a id="login-link" href="/login" class="link">login</a>
                {% else %}
                    <a class="link pointer" data-hx-post="/logout">
                        <img class="ui avatar image" src="/api/avatar/{{ user.id }}" alt="{{ user.username }}">
                    </a>
                {% endif %}
            </span>
        </div>
    </nav>
</header>
{% endblock %}

<main class="ui container">
    {% block content %}{% endblock %}
</main>

<footer class="ui vertical footer segment">
    <div class="ui container">
        <div class="ui grid">
            <div class="center aligned three wide column">
                <div class="ui middle aligned">
                    <a class="link" href="/about/imprint">Imprint</a>
                </div>
            </div>
            <div class="center aligned three wide column">
                <div class="ui middle aligned">
                    <a class="middle aligned link" href="/about/terms">Terms</a>
                </div>
            </div>
            <div class="center aligned four wide column">
                <a class="link" href="https://github.com/mellowagain/gitarena" target="_blank">
                    <img class="ui middle aligned mini image" src="/static/img/logo.svg" alt="GitArena">
                </a>
            </div>
            <div class="center aligned three wide column">
                <a class="middle aligned link" href="/about/privacy">Privacy</a>
            </div>
            <div class="center aligned three wide column">
                <a class="middle aligned link" href="/about/contact">Contact</a>
            </div>
        </div>
    </div>
</footer>

<script src="/static/js/third_party/jquery-3.6.0.min.js" defer></script>
<script src="/static/js/third_party/semantic.min.js" defer></script>
<script src="/static/js/third_party/htmx.min.js" async defer></script>

<script src="/static/js/app.js" defer></script>

{% block scripts %}{% endblock %}

{% if debug is defined and debug %}
<script id="gitarena-debug" type="application/json" data-type="tera-context">
    {{ __tera_context }}
</script>
{% endif %}

</body>

</html>
