{% extends "base.html" %}

{% block title %}
{{ repo_owner_name }}/{{ repo.name }}{% if repo.description is not empty %}: {{ repo.description }}{% else %}{% endif %}
{% endblock %}

{% block header %}
<header class="background ui fluid container" style="background-image: url('/static/img/88555424_p0.jpg');">
    <nav class="repo navigation inverted">
        <div class="ui content container">
            <span class="brand">
                <a href="/" class="link">GitArena</a>
                /
                <a href="/{{ repo_owner_name }}" class="link">{{ repo_owner_name }}</a>
            </span>
            <span class="links">
                <a href="/{{ repo_owner_name }}/{{ repo.name }}/issues" class="link">
                    issues
                    <span class="pill">{{ issues_count | human_prefix }}</span>
                </a>
                <a href="/{{ repo_owner_name }}/{{ repo.name }}/mergers" class="link">
                    merge requests
                    <span class="pill">{{ merge_requests_count | human_prefix }}</span>
                </a>
                <a href="/{{ repo_owner_name }}/{{ repo.name }}/releases" class="link">
                    releases
                    <span class="pill">{{ releases_count | human_prefix }}</span>
                </a>

                {% if user is undefined %}
                    <a id="login-link" href="/login" class="link">login</a>
                {% else %}
                    <a href="#" class="link">
                        <img class="ui avatar image" src="/static/user_content/avatars/{{ user.id }}.jpg" alt="{{ user.username }}">
                    </a>
                {% endif %}
            </span>
            <div class="repo-info">
                <h1><b>{{ repo.name }}</b></h1>
                <h3 style="overflow-wrap: break-word">
                    {% if repo.description is not empty %}
                        {{ repo.description }}
                    {% else %}
                        <i>No description provided</i>
                    {% endif %}
                </h3>
                <h5>
                    Project ID <b>{{ repo.id }}</b> &middot;
                    Repo Size <b>{{ repo_size | filesizeformat }}</b> &middot;
                    Contributors <b>{{ 1 }}</b>

                    {% if repo.license is some %}
                        &middot;
                        License <b>{{ repo.license }}</b>
                    {% endif %}
                </h5>
            </div>
        </div>
    </nav>
</header>
{% endblock %}

{% block content %}
<main class="repo container">
    {% if files | length >= 1000 %}
        <div class="ui icon warning message">
            <i class="exclamation triangle icon"></i>
            <div class="content">
                <div class="header">This repository contains too many files</div>
                Some files may not be displayed as the current view has been limited to 1000 files
            </div>
        </div>
    {% endif %}

    <div class="ui grid">
        <div class="seven wide column">
            <div class="ui labeled icon top left pointing dropdown button">
                <i class="code branch icon"></i>
                <span class="text">{{ tree }}</span>
                <div class="menu">
                    <div class="ui search icon input">
                        <i class="search icon"></i>
                        <input type="text" name="search" placeholder="Search branch or tag">
                    </div>
                    <div class="divider"></div>
                    <div class="header">
                        <i class="code branch icon"></i>
                        Branches
                    </div>
                    {% for branch in branches %}
                        <div class="item {% if branch == tree %} active selected {% endif %}">
                            <code>{{ branch }}</code>

                            {% if branch == repo.default_branch %}
                                <span class="pill">Default</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="divider"></div>
                    <div class="header">
                        <i class="tags icon"></i>
                        Tags
                    </div>
                    {% for tag in tags %}
                        <div class="item {% if tag == tree %} active selected {% endif %}">
                            <code>{{ tag }}</code>

                            {% if loop.last %}
                                <span class="pill">Latest</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {#
        <!-- Currently disabled until breadcrumbs are implemented -->
        <div class="five wide computer only column">
            <div class="ui breadcrumb">
                <a class="active section" href="/{{ repo_owner_name }}">{{ repo_owner_name }}</a>
                <div class="divider"> / </div>
                <a class="active section" href="/{{ repo_owner_name }}/{{ repo.name }}">{{ repo.name }}</a>
            </div>
        </div>
        #}

        <div class="two wide column"></div>

        <div class="right aligned seven wide computer only column">
            <div class="ui labeled action input">
                <div class="ui dropdown label">
                    <div class="text">https</div>
                    <i class="dropdown icon"></i>

                    <div class="menu">
                        <div class="https clone item active" data-url="{{ domain | safe }}/{{ repo_owner_name | urlencode }}/{{ repo.name | urlencode }}.git" data-icon="copy">https</div>
                        <div class="ssh clone item" data-url="git@{{ domain | split(pat="://") | nth(n=1) | split(pat=":") | first | safe }}:{{ repo_owner_name | urlencode }}/{{ repo.name | urlencode }}.git" data-icon="copy">ssh</div>
                        <div class="zip download item" data-url="{{ domain | safe }}/{{ repo_owner_name | urlencode }}/{{ repo.name | urlencode }}/tree/{{ tree | urlencode }}/archive/zip" data-icon="download">.zip</div>
                        <div class="targz download item" data-url="{{ domain | safe }}/{{ repo_owner_name | urlencode }}/{{ repo.name | urlencode }}/tree/{{ tree | urlencode }}/archive/targz" data-icon="download">.tar.gz</div>
                    </div>
                </div>
                <input class="code url" type="text" value="{{ domain | safe }}/{{ repo_owner_name | urlencode }}/{{ repo.name | urlencode }}.git">
                <button class="ui right icon button">
                    <i class="copy icon"></i>
                </button>
            </div>
        </div>
    </div>

    <table class="ui celled table">
        <thead>
        <tr>
            <th colspan="3" class="non-bold">
                <div class="ui grid">
                    <div class="ten wide column">
                        {% if last_commit.author_uid is some %}
                            <a href="/{{ last_commit.author_name }}">
                                <img class="ui avatar image" src="/static/user_content/avatars/{{ last_commit.author_uid }}.jpg" alt="{{ last_commit.author_name }}">
                                <b>{{ last_commit.author_name }}</b>
                            </a>
                        {% else %}
                            <img class="ui avatar image" src="/static/user_content/avatars/null.jpg" alt="{{ last_commit.author_name }}">
                            <b>{{ last_commit.author_name }}</b>
                        {% endif %}

                        <a href="/{{ repo_owner_name }}/{{ repo.name }}/commit/{{ last_commit.oid }}">
                            {{ last_commit.message | split(pat="\n") | first }}
                        </a>
                    </div>
                    <div class="right aligned six wide column">
                        <a href="/{{ repo_owner_name }}/{{ repo.name }}/commit/{{ last_commit.oid }}">
                            <code class="element computer only">{{ last_commit.oid | truncate(length=7, end="") }}</code>
                            {{ last_commit.time | human_time }}
                        </a>
                        <a href="/{{ repo_owner_name }}/{{ repo.name }}/tree/{{ tree }}/commits" class="element computer only">
                            <i class="history icon"></i>
                            <b>{{ commits_count }}</b> commits
                        </a>
                    </div>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
        <tr>
            <td>
                {% if file.file_type == 16384 %}
                    {# Directory #}
                    <a href="/{{ repo_owner_name }}/{{ repo.name }}/tree/{{ tree }}/directory/{{ file.file_name | urlencode }}">
                        <i class="folder icon"></i>
                        {{ file.file_name }}
                    </a>
                {% elif file.file_type == 33188 %}
                    {# Regular file #}
                    <a href="/{{ repo_owner_name }}/{{ repo.name }}/tree/{{ tree }}/blob/{{ file.file_name | urlencode }}">
                        <i class="file icon"></i>
                        {{ file.file_name }}
                    </a>
                {% elif file.file_type == 33261 %}
                    {# Executable #}
                    <a href="/{{ repo_owner_name }}/{{ repo.name }}/tree/{{ tree }}/blob/{{ file.file_name | urlencode }}">
                        <i class="file icon"></i>
                        {{ file.file_name }}
                    </a>
                {% elif file.file_type == 40960 %}
                    {# Symlink #}
                    <a href="/{{ repo_owner_name }}/{{ repo.name }}/tree/{{ tree }}/symlink/{{ file.file_name | urlencode }}">
                        <i class="linkify icon"></i>
                        {{ file.file_name }}
                    </a>
                {% elif file.file_type == 57344 %}
                    {# Submodule #}
                    <a href="/{{ repo_owner_name }}/{{ repo.name }}/tree/{{ tree }}/submodule/{{ file.file_name | urlencode }}">
                        <i class="folder outline icon"></i>
                        {{ file.file_name }} @ <code>{{ file.submodule_target_oid | truncate(length=7, end="") }}</code>
                    </a>
                {% else %}
                    {# Unknown #}
                    <i class="file icon"></i>
                    {{ file.file_name }}
                {% endif %}
            </td>
            <td class="no-left-border">
                <a href="/{{ repo_owner_name }}/{{ repo.name }}/commit/{{ file.commit.oid }}">
                    {{ file.commit.message | split(pat="\n") | first }}
                </a>
            </td>
            <td class="ui right aligned no-left-border">{{ file.commit.time | human_time }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="readme-parent" class="ui segments">
        <div class="ui segment">
            <b id="readme-file-name">readme</b>
        </div>

        <div class="ui segment">
            <div id="readme" class="ui fluid placeholder">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="/static/js/readme.js" defer></script>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        $(".ui.dropdown").dropdown();
        $(".downloads.browse.item").popup({
            popup: ".downloads.popup",
            hoverable: true,
            position: "bottom left"
        });

        const codeUrl = $(".code.url");

        codeUrl.click(() => codeUrl.select());
        codeUrl.keydown(() => false);

        $(".right.icon.button").click(() => {
            if ($(".right.icon.button").children().first().hasClass("download")) {
                window.location.href = $(".code.url").val();
            } else {
                writeClipboard($(".code.url").val());
            }
        });

        $(".menu .item[data-url]").click(function () {
            const currentElement = $(this);

            $(".code.url").val(currentElement.attr("data-url"));

            const button = $(".right.icon.button");

            button.children().first().removeClass();
            button.children().first().addClass(`${currentElement.attr("data-icon")} icon`);
        });

        loadReadme("{{ repo_owner_name }}", "{{ repo.name }}", "{{ tree }}");
    });
</script>
{% endblock %}
