{% extends "base.html" %}

{% block title %}
Explore Repositories
{% endblock %}

{% block content %}


<div class="ui grid">
    <div class="ui twelve column centered grid">
        {% if general_error is defined %}
        <div class="ui error message">
            <p>{{ general_error }}</p>
        </div>
        {% endif %}

        {% if repository_count == 0 %}
        <div class="ui error message">
            <p>There are no repositories on this GitArena instance currently, check back later.</p>
        </div>
        {% endif %}
        <br />

        <table class="ui fixed table">
            <thead>
                <tr>
                    <th class="twelve wide">Repository </th>
                    <th class="three wide">Stars </th>
                    <th class="three wide">Forks </th>
                    <th class="three wide">Issues </th>
                </tr>
            </thead>
            <tbody>
                {% if repository_count > 0 %}
                {% for repository in repositories %}
                <tr>

                    <td><a href="/{{ repository.owner }}/{{ repository.name }}">{{ repository.owner }}/{{ repository.name }}</a>
                        <!--<br>Last Updated: 12h needs added--> </td>
                        <!-- TODO: ADD STARS, FORKS AND ISSUES -->
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}