{% extends "base.html" %}

{% block title %}
{{ name }} - {{ repo_owner_name }}/{{ repo.name }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/third_party/highlight.min.css">
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="two wide column">
        <div class="ui labeled icon top left pointing dropdown button">
            <i class="code branch icon"></i>
            <span class="text">{{ tree }}</span>
            <div class="menu">
                <div class="ui search icon input">
                    <i class="search icon"></i>
                    <input type="text" name="search" placeholder="Search branch or tag">
                </div>
                <div class="divider"></div>
                <div class="header">
                    <i class="code branch icon"></i>
                    Branches
                </div>
                {% for branch in branches %}
                    <div class="item {% if branch == tree %} active selected {% endif %}">
                        <code>{{ branch }}</code>

                        {% if branch == repo.default_branch %}
                            <span class="pill">Default</span>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="divider"></div>
                <div class="header">
                    <i class="tags icon"></i>
                    Tags
                </div>
                {% for tag in tags %}
                    <div class="item {% if tag == tree %} active selected {% endif %}">
                        <code>{{ tag }}</code>

                        {% if loop.last %}
                            <span class="pill">Latest</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="fourteen wide computer only column">
        <div class="ui breadcrumb">
            <a class="section" href="/{{ repo_owner_name }}/{{ repo.name }}">{{ repo.name }}</a>

            {% set_global previous = "" %}
            {% for dir in full_path | split(pat="/") %}
                {% if loop.last %}
                    {% set uri = "blob" %}
                {% else %}
                    {% set uri = "directory" %}
                {% endif %}

                <div class="divider"> / </div>
                <a class="section" href="/{{ repo_owner_name }}/{{ repo.name }}/tree/{{ tree }}/{{ uri }}{{ previous }}/{{ dir }}">{{ dir }}</a>

                {% set_global previous = previous ~ "/" ~ dir %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="ui segment">
    <div class="ui two column grid">
        <div class="column">
            <div class="ui grid">
                <div class="two wide computer only column">
                    {% if file.commit.author_uid is some %}
                        <a href="/{{ file.commit.author_name }}">
                            <img class="ui circular image" src="/api/avatar/{{ file.commit.author_uid }}" alt="{{ file.commit.author_name }}">
                        </a>
                    {% else %}
                        <img class="ui circular image" src="/api/avatar/-1?override={{ file.commit.author_email | urlencode }}" alt="{{ file.commit.author_name }}">
                    {% endif %}
                </div>
                <div class="sixteen wide mobile fourteen wide computer column no-left-padding">
                    <b>{{ file.commit.message | split(pat="\n") | first }}</b> <br>

                    {% if file.commit.author_uid is some %}
                        <a href="/{{ file.commit.author_name }}">
                            {{ file.commit.author_name }}
                        </a>
                    {% else %}
                        {{ file.commit.author_name }}
                    {% endif %}

                    authored <span class="popup" data-content="{{ file.commit.time | date(format="%A %d. %B %Y %H:%M") }}">{{ file.commit.time | human_time }}</span>
                </div>
            </div>
        </div>
        <div class="right aligned column computer only">
            <button class="ui right labeled icon copy button" data-copy="{{ file.commit.oid }}">
                <i class="copy icon"></i>
                <code>{{ file.commit.oid | truncate(length=7, end="") }}</code>
            </button>
        </div>
    </div>
</div>

<div class="ui segments">
    <div class="ui segment">
        <b id="readme-file-name">{{ file.file_name }}</b>
        {{ size | filesizeformat }}
    </div>

    <div id="content" class="ui {% if content is some %} code-block {% else %} placeholder {% endif %} segment">
        {% if content is some %}
            <pre class="no-margin"><code id="actual-content">{{ content }}</code></pre>
        {% elif type == "text" %}
            <div class="ui icon header">
                <i class="file icon"></i>
                <div class="content">
                    File too big

                    <div class="sub header">
                        GitArena does only display files which are smaller than 2 MB
                        <a href="/{{ repo_owner_name }}/{{ repo.name }}/tree/{{ tree }}/~blob/{{ name }}">View raw</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="ui icon header">
                <i class="terminal icon"></i>
                <div class="content">
                    Binary file

                    <div class="sub header">
                        GitArena can only display text files.
                        <a href="/{{ repo_owner_name }}/{{ repo.name }}/tree/{{ tree }}/~blob/{{ name }}">View raw</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/third_party/highlight.min.js" defer></script>
<script src="/static/js/third_party/highlightjs-line-numbers.min.js" defer></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        let fileName = "{{ name }}";
        const loweredFileName = fileName.toLowerCase();
        const isMarkdown = loweredFileName.endsWith(".md") || loweredFileName.endsWith(".markdown");

        if (isMarkdown) {
            insertScript("/static/js/readme.js");

            let contentElement = $("#content");

            renderMarkdown($("#actual-content").text(), contentElement);

            contentElement.removeClass().addClass("ui very padded segment");
        } else {
            hljs.highlightAll();
            hljs.initLineNumbersOnLoad();
        }
    });
</script>
{% endblock %}
